<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 
				<ref local="menuCreateJob" />
				<ref local="getAccessTokenJob" />
				-->
			</list> 
		</property>
	</bean>
	<bean name="menuCreateTask" class="com.barrage.task.MenuCreateTask">
	</bean>

	<bean id="menuCreateJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="menuCreateTask" />
				<property name="targetMethod" value="run" />
			</bean>
		</property>
		<property name="cronExpression" value="0 0 0/1 * * ?" />
	</bean>
	
	<bean name="getAccessTokenTask" class="com.barrage.task.GetAccessTokenTask">
	</bean>
	
	<bean id="getAccessTokenJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="getAccessTokenTask" />
				<property name="targetMethod" value="run" />
			</bean>
		</property>
		<property name="cronExpression" value="0 0/10 * * * ?" />
	</bean>
</beans>
