<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!-- manager  -->
	
	<bean id="sessionManager" class="com.weixin.server.session.SessionManager" scope="singleton"/>
	
	<bean id="weixinSender" class="com.weixin.httpsend.WeixinHttpSender" scope="singleton"/>
	
	<bean id="fansManager" class="com.weixin.common.WeiXinFansManager" scope="singleton"/>
	
	<!-- db manager  -->
	
	<bean id="channelManager" class="com.barrage.service.impl.ChannelManager">
		<property name="channelDao" ref="channelDao"/>
	</bean>
	
	<bean id="storeMessageManager" class="com.barrage.service.impl.StoreMessageManager">
		<property name="storeMessageDao" ref="storeMessageDao"/>
	</bean>
	
	<bean id="userChannelRelationManager" class="com.barrage.service.impl.UserChannelRelationManager">
		<property name="userChannelRelationDao" ref="userChannelRelationDao"/>
	</bean>
	
</beans>