<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!-- service  -->
	
	<bean id="sessionManager" class="com.barrage.web.server.session.SessionManager" scope="singleton"/>
	
	<bean id="weixinOutputer" class="com.barrage.web.output.WeixinOutputer" scope="singleton">
		<property name="sendMsgSaver" ref="sendMsgSaver"/>
	</bean>
	
	<bean id="sendMsgSaver" class="com.barrage.web.output.db.SendMsgSaver" scope="singleton">
		<property name="storeMessageDao" ref="storeMessageDao"/>
	</bean>
	
	<bean id="userCacheManager" class="com.barrage.web.server.cache.UserCacheManager" scope="singleton">
		<property name="userService" ref="userService"/>
		<property name="sessionRefreshPeriod" value="3600000"/>
	</bean>
	
	<!-- db service  -->
	
	<bean id="userService" class="com.barrage.service.impl.UserServiceImpl" scope="singleton">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	<bean id="storeMessageService" class="com.barrage.service.impl.StoreMessageServiceImpl" scope="singleton">
		<property name="storeMessageDao" ref="storeMessageDao"/>
	</bean>
	
	<bean id="channelService" class="com.barrage.service.impl.ChannelServiceImpl" scope="singleton">
		<property name="channelDao" ref="channelDao"/>
	</bean>
	
	<bean id="userChannelRelationService" class="com.barrage.service.impl.UserChannelRelationServiceImpl" scope="singleton">
		<property name="userChannelRelationDao" ref="userChannelRelationDao"/>
	</bean>
	
</beans>