<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				<!-- hbm.xml  -->
				<value>com/barrage/model/Channel.hbm.xml</value>
				<value>com/barrage/model/StoreMessage.hbm.xml</value>
				<value>com/barrage/model/User.hbm.xml</value>
				<value>com/barrage/model/UserChannelRelation.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
				<!-- Create/update the database tables automatically when the JVM starts up
					<prop key="hibernate.hbm2ddl.auto">update</prop> -->
				<!-- Turn batching off for better error messages under PostgreSQL  -->
				<prop key="hibernate.jdbc.batch_size">30</prop>   
				<!--               
					<prop key="hibernate.show_sql">true</prop>
					<prop key="hibernate.format_sql">true</prop>
					-->  
			</props>
		</property>
		<property name="lobHandler" ref="oracleLobHandle" />
	</bean>

	<bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.SimpleNativeJdbcExtractor" />

	<bean id="oracleLobHandle" class="org.springframework.jdbc.support.lob.OracleLobHandler">
		<property name="nativeJdbcExtractor" ref="nativeJdbcExtractor" />
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- dao  -->
	<bean id="channelDao" class="com.barrage.dao.impl.ChannelDaoImpl" autowire="byName"/>
	<bean id="storeMessageDao" class="com.barrage.dao.impl.StoreMessageDaoImpl" autowire="byName"/>
	<bean id="userChannelRelationDao" class="com.barrage.dao.impl.UserChannelRelationDaoImpl" autowire="byName"/>
	<bean id="userDao" class="com.barrage.dao.impl.UserDaoImpl" autowire="byName"/>
	
</beans>