<?xml version="1.0" encoding="UTF-8"?>

<server>
	<service>
		<service-name>createChannel</service-name>
		<step no="1">
			<choise successMsg="频道创建成功,频道号为[content]">
				<filter-chain>
					<filter>
						<filter-type>com.weixin.server.filter.filters.KeyWordFilter</filter-type>
						<filter-para><![CDATA[创建频道 [title] [password]]]></filter-para>
					</filter>
				</filter-chain>
				<processor>com.barrage.processor.CreateChannelProcesser</processor>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>joinChannel</service-name>
		<step no="1">
			<choise successMsg="频道加入成功,请随意发言">
				<filter-chain>
					<filter>
						<filter-type>com.weixin.server.filter.filters.KeyWordFilter</filter-type>
						<filter-para><![CDATA[加入频道 [no] [password]]]></filter-para>
					</filter>
				</filter-chain>
				<processor>com.barrage.processor.JoinChannelProcesser</processor>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>quitChannel</service-name>
		<step no="1">
			<choise successMsg="是否确认退出频道,确认请回复'是'" toNo="2">
				<filter-chain>
					<filter>
						<filter-type>com.weixin.server.filter.filters.KeyWordFilter</filter-type>
						<filter-para><![CDATA[退出频道]]></filter-para>
					</filter>
				</filter-chain>
			</choise>
		</step>
		<step no="2">
			<choise successMsg="已退出该群">
				<filter-chain>
					<filter>
						<filter-type>com.weixin.server.filter.filters.KeyWordFilter</filter-type>
						<filter-para><![CDATA[是]]></filter-para>
					</filter>
				</filter-chain>
				<processor>com.barrage.processor.QuitChannelProcesser</processor>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>talkChannel</service-name>
		<step no="1">
			<choise>
				<filter-chain>
					<filter>
						<filter-type>com.weixin.server.filter.filters.KeyWordFilter</filter-type>
						<filter-para></filter-para>
					</filter>
				</filter-chain>
				<processor>com.barrage.processor.TalkChannelProcesser</processor>
			</choise>
		</step>
	</service>
</server>