<?xml version="1.0" encoding="UTF-8"?>

<server>
	<service>
		<service-name>createChannel</service-name>
		<step no="1">
			<choise successMsg="请输入以下格式来完成创建频道：[频道名称]空格[频道密码]。 如：足球 1314" toNo="2">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.KeyWordDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[V001_CREATE_CHANNEL,创建频道]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
			</choise>
		</step>
		<step no="2">
			<choise successMsg="频道创建成功,频道号[content]。你现在可以邀请您的好友加入。">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.BarrageDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[[title] [password]]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
				<processor>com.barrage.web.server.processer.processeres.CreateChannelProcesser</processor>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>joinChannel</service-name>
		<step no="1">
			<choise successMsg="请输入以下格式来完成创建频道：[频道号]空格[频道密码]。如：3011 pass1314" toNo="2">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.KeyWordDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[V001_JOIN_CHANNEL,加入频道]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
			</choise>
		</step>
		<step no="2">
			<choise successMsg="频道加入成功。你现在可以在微信频道自由发言了。">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.BarrageDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[[no] [password]]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
				<processor>com.barrage.web.server.processer.processeres.JoinChannelProcesser</processor>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>quitChannel</service-name>
		<step no="1">
			<choise successMsg="是否确认退出频道,确认请回复'是'" toNo="2">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.KeyWordDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[V001_QUIT_CHANNEL,退出频道]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
			</choise>
		</step>
		<step no="2">
			<choise successMsg="已退出该群">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.BarrageDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[是]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
				<processor>com.barrage.web.server.processer.processeres.QuitChannelProcesser</processor>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>help</service-name>
		<step no="1">
			<choise successMsg="欢迎您加入本公众账号,您可以使用菜单栏或者手工输入以下命令,来使用本账号的功能。1.创建频道 2.加入频道 3.退出频道">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.KeyWordDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[V001_COMMAND_LIST,命令说明,帮助,help]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>talkChannel</service-name>
		<step no="1">
			<choise>
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.KeyWordDispatcher</dispatcher-type>
						<dispatcher-para></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
				<processor>com.barrage.web.server.processer.processeres.TalkChannelProcesser</processor>
			</choise>
		</step>
	</service>
</server>