<?xml version="1.0" encoding="UTF-8"?>

<server>
	<service>
		<service-name>createChannel</service-name>
		<step no="1">
			<choise successMsg="频道创建成功,频道号为[content]">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.BarrageDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[创建频道 [title] [password]]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
				<processor>com.barrage.web.server.processer.processeres.CreateChannelProcesser</processor>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>joinChannel</service-name>
		<step no="1">
			<choise successMsg="频道加入成功,请随意发言">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.BarrageDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[加入频道 [no] [password]]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
				<processor>com.barrage.web.server.processer.processeres.JoinChannelProcesser</processor>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>quitChannel</service-name>
		<step no="1">
			<choise successMsg="是否确认退出频道,确认请回复'是'" toNo="2">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.BarrageDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[退出频道]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
			</choise>
		</step>
		<step no="2">
			<choise successMsg="已退出该群">
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.BarrageDispatcher</dispatcher-type>
						<dispatcher-para><![CDATA[是]]></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
				<processor>com.barrage.web.server.processer.processeres.QuitChannelProcesser</processor>
			</choise>
		</step>
	</service>
	
	<service>
		<service-name>talkChannel</service-name>
		<step no="1">
			<choise>
				<dispatcher-chain>
					<dispatcher>
						<dispatcher-type>com.barrage.web.server.dispatch.dispatchers.KeyWordDispatcher</dispatcher-type>
						<dispatcher-para></dispatcher-para>
					</dispatcher>
				</dispatcher-chain>
				<processor>com.barrage.web.server.processer.processeres.TalkChannelProcesser</processor>
			</choise>
		</step>
	</service>
</server>